*,
::after,
::before{
    box-sizing: border-box;
    scroll-behavior: smooth;
}



    /* font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; */



    /* font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; */


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo{
    z-index: 2;
    position: relative;
}

.logo-img{
    width: 80px;
    border-radius: 50%;
}


.header__top-inner{
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
    align-items: center;
}

.menu__btn{
    display: none;
}

.menu__list{
    display: flex;
}

.menu__list-item + .menu__list-item{
    margin-left: 30px;
}

.menu__list-link{
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.4px;
    transition: all 0.5s;
    padding-bottom: 5px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.menu__list-link:hover{
    border-bottom: 1px solid orange;
    /* color: orange; */

}

.header__content{
    background-image: url('../images/bgM.png');
    min-height: calc(100vh - 105.37px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
   
}



.header__content-inner{
    min-height: calc(100vh - 105.37px);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}

.header__title{
    font-size: 60px;
    line-height: 70px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
    max-width: 620px;
    margin-bottom: 30px;
    padding-top: 200px;

}

.header__subtitle{
    font-size: 24px;
    line-height: 28px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    max-width: 600px;
   /* padding-bottom: 100px; */
}

.about{
    padding: 90px 0 100px 0;
}

.about__inner-content{
    display: flex;
    justify-content: space-between;

}

.about__title{
    font-size: 52px;
    line-height: 58px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.about__text p{
    max-width: 700px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 21px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
}

.about__list-title{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.about__list-item{
    font-size: 15px;
    line-height: 21px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.slider-block{
    padding: 100px 0;
}

.slider-title{
    font-size: 52px;
    line-height: 58px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 60px;
}

.slider-block__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 0 auto;
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.slick-dots button{
    font-size: 0;
    padding: 0px;
    border: none;
    width: 8px;
    height: 8px;
    background-color: #242121;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots li +li{
    margin-left: 30px;
}

.footer__top{
    padding: 100px 0 20px;
    background-color: #599dd8;
    text-align: center;
    
}

.footer__logo-img{
    width: 130px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.footer__social{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    list-style: none;
}

.footer__social-item{
    margin-left: 30px;  
}

.footer__social-link{
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 3px;
    transition: all 0.5s;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.footer__social-link:hover{
    border-bottom: 1px solid orange;
}

.address p{
    font-size: 16px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.address{
    margin-bottom: 20px;
}

.phone,
.email{
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.go-up svg{
    margin-top: 35px;
    display: inline-block;
}

.footer__copy{
    padding: 30px 0 30px;
    background-color: #4995c8;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@media (max-width: 1300px) {
    .header__content { 
        background-image: none;
    }
}


@media (max-width: 1000px) {
    .header{
        background-color: #599dd8;
    }

    .about {
        padding: 60px 0 70px 0;
    }

    .about__inner-content{
        display: block;
    }

    .about__title{
        margin-bottom: 30px;
    }

    .about__text p{
        max-width: 100%;
    }

}


@media (max-width: 768px) {
    .header__title {
        font-size: 53px;
        line-height: 58px;
        text-align: center;
        max-width: 100%;
    }

    .header__subtitle {
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        max-width: 100%;
    }

    .menu__btn{
        display: block;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-right: 15px;
        z-index: 2;
        position: relative;
    }

    .menu__list{
        /* display: none; */
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: #000000;
        display: block;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 30px;
        transform: translateY(-200%);
        transition: all 0.5s;
    }

    .menu__list-item + .menu__list-item{
        margin-left: 0px;
        
    }

    .menu__list-item{
        padding: 15px 0;
    }

    .menu__list-link{
        color: #ffffff;
        font-size: 16px;
    }

    .header__top-inner.header__top-inner--active .menu__list{
        transform: translateY(0);
    }

    .header__top-inner.header__top-inner--active path{
        fill: #ffffff;
    }

    .header__top-inner.header__top-inner--active .menu__btn rect{
        fill: #ffffff;
    }


}

@media (max-width: 375px) {
    .header__title {
        font-size: 40px;
        line-height: 46px;
        padding-top: 150px;
    }    

    .header__subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .about__title{
        font-size: 40px;
        line-height: 46px;
    }

}